.env
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.DS_Store
*.egg-info/
build/
dist/
.coverage
htmlcov/
.ruff_cache/
models/*
!models/.gitkeep
outputs/*
!outputs/.gitkeep
inputs/*
!inputs/.gitkeep
